# Data modeling with Cassandra

A startup called Sparkify wants to analyze the data they've been collecting on songs and user activity on their new music streaming app. The analysis team is particularly interested in understanding what songs users are listening to. Currently, there is no easy way to query the data to generate the results, since the data reside in a directory of CSV files on user activity on the app.

In this project I will create an Apache Cassandra database which can create queries on song play data to answer the questions.

## Datasets

The dataset `event_data` is stored in the directory [event_data](event_data/)   which contains CSV files partioned by date. Here are examples of filepaths to two files in the dataset:

```
event_data/2018-11-08-events.csv
event_data/2018-11-09-events.csv
```

## ETL pipeline

![pipeline](images/pipeline.svg)

The figure above presents the ETL pipeline of project. It consists of three steps:

1. **E**xtract: Process CSV files in the directory [event_data](event_data/) to create a new CSV file.
2. **T**ransform: Create an Apache Cassandra database and transform data from the new CSV file into tables.
3. **L**oad: Do queries on database.

## 1. Process CSV files

### Import Python packages

In [1]:
import cassandra
import os
import glob
import csv
from prettytable import PrettyTable

### Process CSV files

#### Create list of filepaths to process original event csv data files

In [2]:
# checking the current working directory
print("current working directory: %s" % os.getcwd())

# Get the file path to the sub-directory event_data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    # join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))

current working directory: /mnt/d/GitHub/data-modeling-with-cassandra

#### Process the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# set the filename of the new csv file
new_datafile = "event_datafile_new.csv"

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:
    # reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        # extracting each data row one by one and append it        
        for line in csvreader:
            full_data_rows_list.append(line) 

# check total rows
print("total rows: %s" % len(full_data_rows_list))

# creating a smaller event data csv file called event_datafile_new csv that
# will be used to insert data into the Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open(new_datafile, 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

total rows: 8056

In [22]:
# check the number of rows in the csv file
print("number of rows in the new csv file:", end=" ")
with open(new_datafile, 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

number of rows in the new csv file: 6821

## 2. Transform data into a Cassandra database

The image below is a screenshot of what the denormalized data should appear like in the `event_datafile_new.csv` after the processing of CSV files.<br>

<img src="images/image_event_datafile_new.jpg">

The `event_datafile_new.csv` contains the following columns: 
0. artist
1. firstName of user
2. gender of user
3. item number in session
4. last name of user
5. length of the song
6. level (paid or free song)
7. location of the user
8. sessionId
9. song title
10. userId

### 2.1. Initialize cluster, session and keyspace

#### Create a Cluster

In [6]:
from cassandra.cluster import Cluster
cluster = Cluster()
session = cluster.connect()

#### Create Keyspace

In [7]:
try:
    session.execute("CREATE KEYSPACE IF NOT EXISTS sparkify \
        WITH REPLICATION = {'class': 'SimpleStrategy', 'replication_factor': 1}"
    )
except Exception as e:
    print(e)

#### Set Keyspace

In [8]:
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### 2.2. Create tables and insert data

In this step we will create tables to answer the following three questions of the data:
- Question 1: Give me the artist, song title and song's length in the music app history that was heard during a given session id and item in session, for example, `sessionId = 338`, and `itemInSession = 4`
- Question 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for a given user id and session id, for example, `userid = 10` and `sessionid = 182`
- Question 3: Give me every user name (first and last) in my music app history who listened to a given song, for example, to the song `All Hands Against His Own`

#### Question 1: Give me the artist, song title and song's length in the music app history that was heard during a given session id and item in session

To answer this question, we will create the table `artist_song_session` which consists of 5 columns:
- `session_id`: stores the session id, data type: int
- `item_in_session`: stores the item number in session, data type: int
- `artist`: stores the artist name, data type: text
- `song`: stores the song title, data type: text
- `length`: stores the song's length, data type: float

The partition key is `session_id`, and the column key is `item_in_session`.

##### Create table

In [9]:
query = "CREATE TABLE IF NOT EXISTS artist_song_session "
query += "(session_id int, item_in_session int, artist text, song text, length double, \
PRIMARY KEY (session_id, item_in_session))"
try:
    session.execute(query)
except Exception as e:
    print(e)

##### Insert data

In [10]:
with open(new_datafile, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO artist_song_session (session_id, item_in_session, artist, song, length)"
        query = query + " VALUES (%s, %s, %s, %s, %s)"
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

#### Question 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for a given user id and session id

To answer this question, we will create the table `song_playlist_session` which consists of 7 columns:

- `user_id`: stores the user id, data type: int
- `session_id`: stores the session id, data type: int
- `item_in_session`: stores the item number in session, data type: int
- `artist`: stores the artist name, data type: text
- `song`: stores the song title, data type: text
- `first_name`: stores the first name of user, data type: text
- `last_name`: stores the last name of, data type: text

The partition keys are `user_id` and `session_id`. We use both `user_id` and `session_id` as primary keys so that sessions from the same user are stored in the same nodes.

The column key is `item_in_session` as we need songs sorted by item in section.

##### Create table

In [11]:
query = "CREATE TABLE IF NOT EXISTS song_playlist_session "
query += "(user_id int, session_id int, item_in_session int, artist text, song text, \
first_name text, last_name text, PRIMARY KEY ((user_id, session_id), item_in_session))"
try:
    session.execute(query)
except Exception as e:
    print(e)

##### Insert data

In [12]:
with open(new_datafile, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO song_playlist_session (user_id, session_id, item_in_session, artist, song, \
                first_name, last_name)"
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s)"
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], line[1], line[4]))

#### Question 3: Give me every user name (first and last) in my music app history who listened to a given song

To answer this question, we will create the table `user_song` which consists of 4 columns:

- `song`: stores the song title, data type: text
- `user_id`: stores the user id, data type: int
- `first_name`: stores the first name of user, data type: text
- `last_name`: stores the last name of, data type: text

The partition key is `song`, and the column key is `user_id`. We add `user_id` to primary key to ensure the row data is unique.

##### Create table

In [13]:
query = "CREATE TABLE IF NOT EXISTS user_song "
query += "(song text, user_id int, first_name text, last_name text, PRIMARY KEY (song, user_id))"
try:
    session.execute(query)
except Exception as e:
    print(e)

##### Insert data

In [14]:
with open(new_datafile, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO user_song (song, user_id, first_name, last_name)"
        query = query + " VALUES (%s, %s, %s, %s)"
        session.execute(query, (line[9], int(line[10]), line[1], line[4]))

## 3. Query data from database

### 3.1. Give me the artist, song title and song's length in the music app history that was heard during  `sessionId = 338`, and `itemInSession  = 4`

In [15]:
query = "SELECT artist, song, length FROM artist_song_session WHERE session_id=338 and item_in_session=4"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
data = PrettyTable()
data.field_names = ["Artist", "Song", "Length"]
data.align = "l"
data.align["Length"] = "r"
for row in rows:
    data.add_row([row.artist, row.song, row.length])
print(data)

+-----------+---------------------------------+----------+
| Artist    | Song                            |   Length |
+-----------+---------------------------------+----------+
| Faithless | Music Matters (Mark Knight Dub) | 495.3073 |
+-----------+---------------------------------+----------+

### 3.2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for `userid = 10` and `sessionid = 182`

In [16]:
query = "SELECT item_in_session, artist, song, first_name, last_name FROM song_playlist_session \
WHERE user_id=10 and session_id=182"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
data = PrettyTable()
data.field_names = ["Artist", "Song", "Item in session", "First name", "Last name"]
data.align = "l"
data.align["Item in session"] = "r"
for row in rows:
    data.add_row([row.artist, row.song, row.item_in_session, row.first_name, row.last_name])
print(data)

+-------------------+------------------------------------------------------+-----------------+------------+-----------+
| Artist            | Song                                                 | Item in session | First name | Last name |
+-------------------+------------------------------------------------------+-----------------+------------+-----------+
| Down To The Bone  | Keep On Keepin' On                                   |               0 | Sylvie     | Cruz      |
| Three Drives      | Greece 2000                                          |               1 | Sylvie     | Cruz      |
| Sebastien Tellier | Kilometer                                            |               2 | Sylvie     | Cruz      |
| Lonnie Gordon     | Catch You Baby (Steve Pitron & Max Sanna Radio Edit) |               3 | Sylvie     | Cruz      |
+-------------------+------------------------------------------------------+-----------------+------------+-----------+

### 3.3. Give me every user name (first and last) in my music app history who listened to the song `All Hands Against His Own`

In [19]:
query = "SELECT first_name, last_name FROM user_song WHERE song='All Hands Against His Own'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
data = PrettyTable()
data.field_names = ["First name", "Last name"]
data.align = "l"
for row in rows:
    data.add_row([row.first_name, row.last_name])
print(data)

+------------+-----------+
| First name | Last name |
+------------+-----------+
| Jacqueline | Lynch     |
| Tegan      | Levine    |
| Sara       | Johnson   |
+------------+-----------+

## 4. Drop the tables

In [20]:
tables = ["artist_song_session", "song_playlist_session", "user_song"]
for table in tables:
    query = "drop table " + table
    try:
        session.execute(query)
        print("dropped table %s" % table)
    except Exception as e:
        print(e)

dropped table artist_song_session
dropped table song_playlist_session
dropped table user_song

## 5. Close the session and cluster connection

In [21]:
session.shutdown()
cluster.shutdown()